# List all the excludes for committing the code to Bitbucket ( version controller )
# -------------------------------------------------------------------------------
# Node Modules
node_modules/*
# Package-lock.json files
package-lock.json
# Log files
resources/logs/responselogs/*


